<%= form_with(model: article) do |form| %>
  

  <div class="field my-3">
    <%= form.text_field :title, class:"form-control my-2", placeholder:"Title" %>
  </div>

  <div class="field my-4">
    
    <%= form.text_area :text, class:"form-control my-2 texta", placeholder:"Text" %>
  </div>

  <div class="field my-3">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
    <div class="field my-3">
    <%= form.label :category %>
    <%= form.collection_select :category_id, Category.all, :id, :name %>  
  </div>

  
     <div class="actions col-6 mx-auto my-4">
     <%= submit_tag "Save article", class:"col-3 fw-bold list-group-item text-center list-group-item-action btn btn-light" %>
    </div>
<% end %>


