<%= form_with(model: article) do |form| %>
  

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
    <div class="field">
    <%= form.label :category %>
  <%= form.select :category, Category.pluck(:name, :id) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
