<div class= "wrapper mx-5">
  <h1 class="text-center fs-4 fw-bold my-5">All articles</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th> 
        <th scope="col">Category</th>
        <th scope="col">Created</th>      
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
        <td><%= link_to article.title, article, class:"list-group-item border-0 list-group-item-action btn btn-light text-decoration-underline" %></td>
        <td><%= article.author.name %></td>
        <td><%= article.category.name %></td> 
        <td><%= article.created_at %></td> 
        <td ><%= button_to 'Vote', controller: :votes, action: :create, method: :post, :article_id => article.id, class:"btn btn-light" %>
          
        <%= ed_links(article)%>
      <% end %>
      </tr>    
    </tbody>
  </table>
</div>
<div class="sticky">
  <%= render 'layouts/footer' %>
</div>