<div class="col-5 m-auto"> 
<h1 class="text-center fs-3 fw-bold mt-5"><%= @article.title %></h1>

  <div class=" mx-auto col-6">
    
    <img src="<%= @article.image %>" class="my-4 article-img img-fluid" >
  </div>

  <p class="">
    <%= @article.text %>
  </p>

  <p class="">Created at: <%= @article.created_at%>
  </p>

  <p class="">Votes: <%= @article.votes.count%></p>

  <div class="my-4">
    <%= button_to 'Vote', controller: :votes, action: :create, method: :post, :article_id => @article.id, class:"btn btn-light" %>
  </div>
  <div class="d-flex justify-content-center gap-3 mt-4">
    <% if current_user == @article.user %>
      <div>
          <%= link_to 'Edit', edit_article_path(@article), class:"col-3 fw-bold list-group-item list-group-item-action btn btn-light border-0" %> 
      </div>
      <div class="mt-2">  |
      </div>
      <div>
        <%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' }, class:"col-3 fw-bold list-group-item list-group-item-action btn btn-light border-0" %>
      </div>
      <div class="mt-2">  |
      </div>
    <%end%>
    <div>
      <%= link_to 'Back', articles_path,class:"col-3 fw-bold list-group-item list-group-item-action btn btn-light border-0" %>
    </div>                
  
  </div>
</div>
<div class="sticky">
    <%= render 'layouts/footer' %>
</div>
