<div class="mt-5">

<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= form.text_field :name, class:"form-control my-2", placeholder:"Name"  %>
  </div>

  <div class="actions">
    <%= submit_tag "Sign up", class:"fw-bold list-group-item text-center list-group-item-action btn btn-light" %>
  </div>
<% end %>


