
<div class="d-flex"> 
  <div class="col-9 row1 prelative">
    <%= image_tag @top.article.image.url, alt: "most voted article image", class:"grid-img" %>
    
    <p class= "pabsolute torange  fw-bold title"><%= @top.article.title %></p>
    <p class= "pabsolute category bgbrown torange fw-bold">Most popular</p>

  </div>
  <div class="col-3 row1 prelative">
    <%= image_tag @topcover.image.url, alt: "latest cover story image", class:"grid-img" %>
      <p class= "pabsolute torange  fw-bold title"><%= @topcover.title %></p>
      <p class= "pabsolute torange bgbrown category fw-bold"><%= @topcover.category.name %></p>
  </div>
</div>
<div class="d-flex prelative"> 
  <div class="col-3 row1">
    <%= image_tag @topnews.image.url, alt: "latest news image", class:"grid-img" %>
    <p class= "pabsolute torange  fw-bold title"><%= @topnews.title %></p>
    <p class= "pabsolute torange bgbrown category fw-bold"><%= @topnews.category.name %></p>
  
  </div>
  <div class="col-3 row1 prelative">
    <%= image_tag @topinterviews.image.url, alt: "latest interview article image", class:"grid-img" %>
    <p class= "pabsolute torange  fw-bold title"><%= @topinterviews.title %></p>
    <p class= "pabsolute torange bgbrown category fw-bold"><%= @topinterviews.category.name %></p>
  </div>
  <div class="col-3 row1 prelative">
    <%= image_tag @toplive.image.url, alt: "latest live article image", class:"grid-img" %>
    <p class= "pabsolute torange  fw-bold title"><%= @toplive.title %></p>
    <p class= "pabsolute torange bgbrown category fw-bold"><%= @toplive.category.name %></p>
  </div>
  <div class="col-3 row1 prelative">
    <%= image_tag @topreview.image.url, alt:"latest interview article image", class:"grid-img" %>
    <p class= "pabsolute torange  fw-bold title"><%= @topreview.title %></p>
    <p class= "pabsolute torange bgbrown category fw-bold"><%= @topreview.category.name %></p>
  </div>  
</div>

<div class="fixed" >
    <%= render 'layouts/footer'%>
</div>