<div class="bgbrown">  
  <div class="d-flex">
    
    <div class="d-flex row1 col-12 flex-wrap bg-light"">
    <% @selection.each_with_index do |select, index|%>
      <% if index == 0 || index == 1%>
        <div class="d-flex col-6">
          <div class="col-6">
            <%=image_tag select.image.url, alt: "article image", class:"grid-img" %>
          </div>
          <div class="col-6  row1 p-3">
            <p class="torange category1 fw-bold">
              <%= @category.name %>
            </p>
            <h3 class="fw-bold my-3 fs-5">
              <%= truncate(select.title, :length => 50)%>
            </h3>
            <p>Author: <span class="torange fw-bold"><%=select.user.name %></span> | Votes: <span class="fw-bold torange"><%= select.votes.count%></span></p>
            <p class="preview my-2">
              <%= truncate(select.text, :length => 120) %>
            </p>
            <%= link_to 'Read more', select, class:"fw-bold text-dark more" %>
            <div class="mt-4">
              <%= button_to 'Vote', controller: :votes, action: :create, method: :post, :article_id => select.id %>
            </div>
          </div>
        </div>
      <%else%>
        <div class="d-flex row1 col-6">
          <div class="col-6  p-3">
            <p class="torange category1 fw-bold">
              <%= @category.name %>
            </p>
            <h3 class="fw-bold fs-5 my-3">
              <%= truncate(select.title, :length => 50)%>
            </h3>
          <p>Author: <span class="torange fw-bold"><%=select.user.name %></span> | Votes: <span class="fw-bold torange"><%= select.votes.count%></span></p>
            <p class="preview my-2">
              <%= truncate(select.text, :length => 150) %>
            </p>
            <%= link_to 'Read more', select, class:"fw-bold text-dark" %>
            <div class="mt-4">
              <%= button_to 'Vote', controller: :votes, action: :create, method: :post, :article_id => select.id, class:"btn btn-light" %>
            </div>
          </div>
          <div class="col-6">
            <%=image_tag select.image.url , alt: "article image", class:"grid-img" %>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="fixed" >
    <%= render 'layouts/footer'%>
  </div>
  </div>