<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @category.priority %>
</p>

<%
=begin%>
 <% @articles.each do |art|%>
  <%= art.title %>
  <img src="<%art.image%>">
  <% art.user.name %>
  <% art.created_at %>
  <%end%> 
<%
=end%>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
