<nav class="header container-fluid d-flex justify-content-between">
  
    <div>
        <%= link_to root_path, class:"navbar-brand link" do %>
        <%= image_tag "logo.svg", class:"logo ms-5"%><p class="logo-txt ms-1 text-dark fw-bold fst-italic text-center">Do - magazine with <br> great music taste</p>
        <%end%>
    </div>
    <div>
        <ul class="list-group list-group-horizontal mt-4 pt-2">
                <li class="nav-item">
                    <%= link_to "Cover story", category_path(1), class:"list-group-item list-group-item-action torange fs-5 fw-bold border-0"%>
                </li>
                <li class="nav-item">
                    <%= link_to "News", category_path(2), class:"list-group-item list-group-item-action fs-5 fw-bold border-0"%>
                </li>
                <li class="nav-item">
                	<%= link_to "Interviews", category_path(3), class:"list-group-item list-group-item-action fs-5 fw-bold border-0"%>
                </li>
                <li class="nav-item">
                  <%= link_to "Live", category_path(4), class:"list-group-item list-group-item-action fs-5 fw-bold border-0"%>
                </li>
                <li class="nav-item">
                	<%= link_to "Reviews", category_path(5), class:"list-group-item list-group-item-action fs-5 fw-bold border-0"%>
                </li>
                <li class="nav-item">
                	<%= link_to "All articles", articles_path, class:"list-group-item list-group-item-action fs-5 fw-bold border-0"%>
                </li>
        </ul>
    </div>
    <div>
        <ul class="list-group list-group-horizontal">
        <% if current_user %>
            <li class="nav-item fw-bold mt-5 pt-1 me-2">Logged in as: <%= current_user.name %>
            
            </li>
            
            <li class="nav-item  me-2">
                <%= link_to 'Create new article', new_article_path, class:"fw-bold list-group-item border-0 list-group-item-action btn btn-light pt-5" %>
            </li>
            <li class="nav-item mt-4 pt-3 me-2">
                <%= button_to 'Log out', logout_path, method: :delete, controller: :sessions, action: :destroy, class:"fw-bold list-group-item list-group-item-action btn btn-light" %>
            </li>
            <% else %>
                <li class="nav-item pt-2 mt-4">
                    <%= link_to "Log in", login_path, class:"fw-bold list-group-item border-0 list-group-item-action btn btn-light" %>
                </li>
                <li class="nav-item"><p class="fs-4 pt-3 mt-4 me-1"> | </p></li>
                <li class="nav-item pt-2 mt-4">
                <%= link_to "Sign up", new_user_path, class:"fw-bold list-group-item border-0 list-group-item-action btn btn-light" %>
                </li>
            <%end%>
        </ul>
    </div>
  
</nav>